.hide {
  display: none;
}

.show {
  position: absolute;
  height: 75px;
  width: 150px;
  background-color: yellow;
  padding: 10px;
}

#info {
  position: absolute;
}

#tooltip {
  color: white;
}
